/*Шестиугольники*/
.hex {
    width:150px;
    width:145px;
    height:86px;
    background-color: #d6333e;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 173px;
    position: relative;
    float:left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
    border-radius: 10px;
}

.hex.hex-gap {
    margin-left: 86px;
}

.hex a {
    display:block;
    width: 100%;
    height:100%;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:0;
}
.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    /*width:100%;*/
    width:98%;
    height:100%;
    background: inherit;
    z-index:-2;
    overflow:hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.hex .corner-1 {
    z-index:-1;
    transform: rotate(60deg);
}

.hex .corner-2 {
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width: 173px;
    height:    173px;
  content: '';
  position: absolute;
  background: inherit;
  top:0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat:no-repeat;
    backface-visibility: hidden;
}            

.hex .corner-1:before {
    transform: rotate(-60deg) translate(-87px, 0px);
  transform-origin: 0 0;
}            

.hex .corner-2:before {
    transform: rotate(60deg) translate(-48px, -11px);
    bottom:0;
}      
/* Custom styles*/
.hex .inner {
    color:#eee;
}

.hex h4 {
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
}

.hex hr {
    border:0;
    border-top:1px solid #eee;
    width:60%;
    margin:15px auto;
}

.hex p {
    font-size:16px;
    font-family: 'Kotta One', serif;
    width:80%;
    margin:0 auto;
}
.hex p img {
	margin-top: 10px;
}
.hex.hex-1 {
    background: #74cddb;
}

.hex.hex-2 {
    background: #f5c53c;
}
.hex.hex-3 {
    background: #80b971;
}
/*Шестиугольники*/

body {
	font-family: 'PT Sans', sans-serif;
}
h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin-top: 68px;
	margin-bottom: 40px;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.main-header {
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
}
.line {
	border-bottom: 1px solid #d6333e;
	position: absolute;
	left: 0;
	width: 100%;
}
.logo {
	width: 25%;
	display: inline-block;
}
.logo a {
	display: inline-block;
}
.logo img {
	width: 100%;
	height: 100px;
}
nav {
	width: 27%;
	display: inline-block;
	vertical-align: top;
	margin-top: 25px;
}
nav ul li {
	list-style: none;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 18px;
}
.main-header button {
	background-color: #d6333e;
	color: white;
	border: none;
	padding: 14px 23px;
	border-radius: 5px;
	vertical-align: top;
    margin: 35px;
}
.header-phone {
	display: inline-block;
	width: 25%;
	padding: 15px;
	float: right;	
}
.header-phone {
	font-size: 16px;
}
.header-phone a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px!important;	
	font-weight: 700;
}
span.color-decoration, .content-left-section b, .content-right-section b {
	color: #d6333e;
}
.content-left-section span, .content-right-section span {
	font-size: 70px;
}
.title h2 {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin-top: 68px;
	margin-bottom: 40px;
}
.title p {
	font-size: 18px;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 28px;
}
.main-content-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}
.main-content-left, .main-content-right {
	display: inline-block;
	width: 370px;
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;
	background-color: #f5f5f5;
}
.main-content-left b, .main-content-right b {
	font-size: 20px;
}
.main-content-left p, .main-content-right p {
	width: 190px;
	line-height: 28px;
	margin-left: auto;
	margin-right: auto;
}
.main-content-left {
	margin-right: 30px;
}
.services-bg {
	background-color: #f5f5f5;
	margin-top: 70px;
	position: absolute;
    width: 100%;
    left: 0;
    z-index: -2;
    min-height: 465px;
    margin-bottom: 450px;
}
#services h2 {
	margin-bottom: 55px;
}
.services-container {
	width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 290px;    
}
#services {
	padding-top: 35px;
}
.service-item {
	width: 155px;
	height: 225px;
	float: left;
	margin-left: 90px;
	position: relative;
}
.service-item:first-child {
	margin-left: 28px;
}
.hex + p {
	position: relative;
    top: 50px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}
.contact-item-wrap {
	display: flex;
	flex-wrap: wrap;
}
.contact-item {
	justify-content: space-around;
	width: 25%;
	display: flex;
	text-align: center;
}
.contact-item a {	
	color: #d6333e;
}
.contact-item:first-child a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
figcaption {
	margin-top: 15px;
}